body{
    background-color: rgb(175, 175, 175);
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

article{
    background-color: white;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
}

.nombre{
    display: flex;
    justify-content: flex-start;
}

h5{
    margin: 3%;
}

.nombre img{
    border-radius: 50%;
}

.uno{
    display: flex;
    justify-content: flex-start;
}

aside{
    background-color: white;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    width: 20%;
}

/* mediaqueries */
@media (max-width:1024px){
    aside{
        width: 25%;
    }
}

@media (max-width:800px){

    body{
        display: flex;
        flex-direction: column;
    }

    aside{
        width: 96%;
    }
}

@media (max-width:600px){  
    body{
        display: flex;
        flex-direction: column;
    }

    .uno{
        display: flex;
        flex-direction: column;
    }

}